.ui-layer-list-out-of-scale 
{
    color: #999;
}


.ui-layer-list ul 
{
    list-style-position: inside;
    padding-left: 1em;
}

.ui-layer-list li
{
    list-style-image: none;
}

.ui-layer-list .ui-layer-list-group, .ui-layer-list-has-children.expanded
{
    list-style-image: url(../images/treeMinus10.gif)
}

.ui-layer-list .ui-layer-list-group.collapsed, .ui-layer-list-has-children.collapsed
{
    list-style-image: url(../images/treePlus10.gif)
}

.ui-layer-list-group > a
{
    font-weight: bold;
}

.ui-layer-list-item 
{
    background-color: white;
}

.ui-layer-list-item * 
{
    background-color: transparent;
}

.ui-layer-list-item ul
{
    font-style: italic;
}

.ui-layer-list-item ul
{
    border: none;
    list-style-type: circle;
}

.ui-layer-list a:hover
{
    background-color: yellow;
}

.ui-slider-horizontal
{
    height: 0.3em;
}

.ui-slider .ui-slider-handle 
{
    background: url(../images/sliderSprites.png) no-repeat top left;
    background-position: 0 0; 
    width: 11px; 
    height: 21px;
    background-color: transparent;
    border: none;
}

.ui-slider .ui-slider-handle:hover 
{
    background-position: -16px 0
}

.ui-layer-list-not-loaded 
{
    background: #ccccff;
}
.ui-layer-list-error 
{
    color: red;
    text-decoration: line-through;
}
.ui-layer-list-has-children > label
{
    text-decoration: underline;
    cursor: pointer;
}